/* style.css */

body {
	background: url(https://images7.alphacoders.com/418/418724.jpg);
	background-size: cover;
	color: #FFD700;
	font-family: Papyrus, fantasy;
}

.container {
	width: 100%;
	height: 100%;
}

h1 {
	text-align: center;
}

.characterCard {
	float: left;
	box-shadow: 0 6px 8px 0 rgba(0,0,0,6);
	transition: 1s;
	text-align: center;
}

#eren {
	clear: both;
	margin-right: 5px;
}

#annie {
	margin-right: 5px;
}

#armored {
	margin-right: 5px;
}

#colossus {
	margin-right: 5px;
}