/* style.css */

body {
	background: url(https://images7.alphacoders.com/418/418724.jpg);
	background-size: cover;
	color: #FFD700;
	font-family: Papyrus, fantasy;
}

.characterCard {
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

.characters {
	clear: both;
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}


.enemyArea {
	clear: both;
	float: left;
}

.currentTitan {
	clear: both;
	float: left;
}

.fightArea {
	clear: both;
	float: left;
}


.battle {
	clear: both;
	float: left;
}